*{
	margin: 0;
	padding: 0;
}
.tabs{
	margin: 1rem;
	max-width: 100%;
	min-width: 320px;
}
.tabs input{
	height: 2.5rem;
	visibility: hidden;
}
.tabs label{
	background: #f9f9f9;
	border-radius: .25em .25em 0 0;
	color: #888;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

.tabs input:hover+label{
	background: #f1f1f1;
	color: #444;
	position: relative;
	z-index: 6;
}
.content{
	background: #F1F1F1;
	border-radius: 0.25em 0.25em .25em;
	min-height: 120px;
	position: relative;
	width: 100%;
	z-index: 5;
}
.content div{
	opacity: 0;
	padding: 1.5em;
	position: absolute;
	z-index: -100;
}
.content p{
	clear: both;
	padding-bottom: 2rem;
}
.tabs input#tab-1:checked~ .content#content-1,
.tabs input#tab-2:checked~ .content#content-2,
.tabs input#tab-3:checked~ .content#content-3{
	opacity: 1;
	z-index: 100;
}
input.visible{
	visibility: visible !important; 
}